
       
       
          
            
              
               
                  
                    
                     
                        <div className="profile-form-item social-form">
                            <div>Skills</div>
                            <div className="row">
                                <div className="col">
                                    <ul>
                                      {this.Skills()}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        { this.Education()}
                        {this.Expirience()}
                </section>
              </div>
            </div>
          </div>
        </div>




      