ul{
    float: right;
   
    li{
        padding: 10px;
        display: inline-block;
        list-style: none;
        color: black;
        text-transform: uppercase;
        a{
            color:white;
            font-family:sans-serif;
            font-size: 14px;
            font-weight: 600;
            padding: 10px;
            text-decoration: none;  
        &:hover{
            color:#e9612a;
           cursor: pointer;
        }
        
    }
}
}