h1{
    font-size: 24px;
    color: #e9612a;
    font-weight: 700;
    text-transform: uppercase;
    
}
h2{
    font-size: 23px;
    color: silver;
    font-weight: 600;
    text-transform: uppercase;
   
}
h3{
    font-size: 22px;
    color: #86513c;
    font-weight: 500;
    text-transform: uppercase;
    
}
h4{font-size: 21px;
    color: #2ad9e9;
    font-weight: 400;
    text-transform: uppercase;
    
}
h5{
    font-size: 20px;
    color: #e92a3a;
    font-weight: 300;
    text-transform: uppercase;
    
}
p{
    font-size: 14px;
    color: #5bc860;
    font-weight: 400;
    text-transform: uppercase;
    
}