
.works-text{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: $font-regular;
    color: $font-color-primary-2;
    font-size: 28px;
}

.faq-top{
    height: 65px;
    background: $bg-color-primary-2;
    color: $font-color-primary-1;
    font-family: $font-regular;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.faq-text{
     color: $font-color-primary-2;
     background: #eaedf2;
     margin-top: 0;
     padding: 25px 45px;
     line-height: 25px;
     font-family: $font-light;
     font-size: 14px;
}

.faq-blocks{
    margin-top: 40px;
    display: block;
}

.faq-body{
    margin-bottom: 30px;
}