
.works-text{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: $font-regular;
    color: $font-color-primary-2;
    font-size: 35px;
}

.faq-top{
    height: 60px;
    background: $bg-color-primary-2;
    color: $font-color-primary-1;
    font-family: $font-regular;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.faq-text{
     color: $font-color-primary-2;
     background: #eaedf2;
     margin-top: 0;
     padding: 25px 40px;
     line-height: 25px;
     font-family: $font-light;
     font-size: 14px;
}

.faq-blocks{
    margin-top: 30px;
    display: block;
}

.faq-body{
    margin-bottom: 30px;
}



@media screen and (max-width:768px){
    .works-text{
        margin-top: 33px;
        font-size: 33px;
    }

    .faq-top{
        height: 58px;
        font-size: 16px;
        padding-left: 23px;
    }

    .faq-text{
        padding: 23px 37px;
        line-height: 23px;
        font-size: 12px;
    }

    .faq-blocks{
        margin-top: 27px;
    }

    .faq-body{
        margin-bottom: 27px;
    }
}



@media screen and (max-width:540px){
    .works-text{
        margin-top: 30px;
        font-size: 30px;
    }

    .faq-top{
        height: 55px;
        font-size: 14px;
        padding-left: 20px;
    }

    .faq-text{
        padding: 20px 35px;
        line-height: 20px;
        font-size: 12px;
    }

    .faq-blocks{
        margin-top: 25px;
    }

    .faq-body{
        margin-bottom: 25px;
    }
}



@media screen and (max-width:480px){
    .works-text{
        margin-top: 25px;
        font-size: 25px;
    }

    .faq-top{
        height: 51px;
        font-size: 12px;
        padding-left: 18px;
    }

    .faq-text{
        padding: 18px 30px;
        line-height: 18px;
        font-size: 11px;
    }

    .faq-blocks{
        margin-top: 22px;
    }

    .faq-body{
        margin-bottom: 22px;
    }
}



@media screen and (max-width:408px){
    .works-text{
        margin-top: 21px;
        font-size: 21px;
    }
    .faq-top{
        height: 49px;
        font-size: 12px;
        padding-left: 17px;
    }

    .faq-text{
        padding: 15px 25px;
        line-height: 17px;
        font-size: 11px;
    }

    .faq-blocks{
        margin-top: 18px;
    }

    .faq-body{
        margin-bottom: 18px;
    }
}


@media screen and (max-width:360px) {
    .works-text{
        margin-top: 18px;
        font-size: 18px;
    }

    .faq-top{
        height: 49px;
        font-size: 12px;
        padding-left: 15px;
    }

    .faq-text{
        padding: 15px 20px;
        line-height: 15px;
        font-size: 11px;
    }

    .faq-blocks{
        margin-top: 15px;
    }

    .faq-body{
        margin-bottom: 15px;
    }
}
