

.faq-text{
    color: $font-color-primary-4;
  
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  
    @media screen and (max-width: 576px) {
      font-size: 10px;
    }
  
  }