.forgot-top-bg {
    background: url(../../img/home-page1.png);
    height: 350px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
  
    .forgot-top {
      display: flex;
      justify-content: center;
  
      h1 {
        @include font(50px, $font-regular, $font-color-primary-1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
  
  .forgot-main {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  
    .forgot-main-bg {
      background: $bg-color-primary-2;
      height: 350px;
      border-radius: 20px;
       display: flex;
      align-items: center;
      justify-content: center;
  
      .forgot-form {
        p{
          margin: 25px 0;
          @include font(16px, $font-regular, $font-color-primary-3);
        }
        width: 65%;
        @media screen and (max-width: 576px) {
          width: 75%;
        }
      }
  
      .btn-forgot {
        margin-top: 20px;
      }
    }
  }