.header-top-bg {
  background-color: $bg-color-primary-1;
  height: 50px;
}

.header-top-left {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;

  .social-header {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;
  }
  .social-header li {
    margin-right: 10px;
  }
  .social-header li a {
    font-size: 20px;
    color: $font-color-primary-1;
  }
}

.header-bottom-bg {
  background-color: $bg-color-primary-3;
  height: 80px;
}

.header-top-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;

ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0;

  li{
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  li:hover{
    text-decoration: none;
  }
}

a{
  font-size: 14px;
  color: $font-color-primary-1;
  display: flex;
  align-items: inherit;
  i{
    margin-right: 5px;
    font-size: 18px;
  }

}  
}
