.banner {
  background: url(..//..//img/banner1.jpg);
  background-size: contain;
  background-position: bottom;
  height: 502px;
  padding-top: 170px;
  opacity: 0.8;
}

.heading{
display: flex;
flex-direction: column;

h1{
    line-height: 50px;
    margin-bottom: 10px;
    margin-top: 0;

    @media screen and (max-width: 992px) {
        font-size: 25px;
        line-height: 35px;
    };

    @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 30px;
    };

    @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 20px;
    };
}

p{
    line-height: 30px;
    @include font (16px, $font-regular,$bg-color-primary-1);
}
}

