.header-top{
    background: $bg-color-primary-1;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text{
    @include font(12px, $font-regular, $font-color-primary-1);
  }

    a{
      @include font(12px, $font-awesome, $font-color-primary-1);
      text-decoration: none;
    }
    
    ul li{
      display:inline-block;
      margin-right: 15px;
      list-style: none;
    }
  
  
    .header-top-left{
      text-align:left;
          a{
        margin-right:10px;
      }
      a:hover{
        color: $font-color-primary-hover;
        }
      }
    
  
    .header-top-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
      a{
          margin-right:10px;
          i{
            color: $font-color-primary-1;
            margin-right:5px;
          }
          i:hover{
            color: $font-color-primary-hover;
            }
      }
    
      @media(max-width:780px){
        a{
          i{
            display:inline-block;
          }
          .text{
            display:none;
          }
        }
      }
  
    }
}
  
  
  .top-head-btn{
    background:$font-color-primary-1;
    padding:9px 26px;
  }
  
  .main-menu{
    padding-bottom:20px ;
    padding-top:20px ;
    border-bottom:1px solid #39353e;
  }
  
  #header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header.header-scrolled {
    transition: all 0.5s;
    background-color: rgba($bg-color-primary-1,.9);
    .main-menu{
      border-color:transparent;
    }
  }
  
  @media(max-width:673px){
    #logo{
        margin-left:20px;
    }
  }
  

  
 