.banner {
  background: url(..//..//img/banner-bg.png);
  height: 502px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 170px;
}

.heading{
display: flex;
flex-direction: column;

h1{
    line-height: 50px;
    margin-bottom: 10px;
    margin-top: 0;

    @media screen and (max-width: 992px) {
        font-size: 25px;
        line-height: 35px;
    };

    @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 30px;
    };

    @media screen and (max-width: 576px) {
        font-size: 18px;
        line-height: 20px;
    };
}

p{
    line-height: 30px;
    @include font (16px, $font-light, $font-color-primary-3);
    @media screen and (max-width: 576px) {
        display: none;
    };
}
}

