.register-top {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .register-top-bg {
    background: url(..//..//img/post-1.jpg);
    background-position: bottom;
    width: 58%;
    height: 179px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      @include font(25px, $font-regular, $font-color-primary-4);
      background: $bg-color-primary-3;
      opacity: 0.5;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.register-main {
  margin-top: 0px;
  display: flex;
  justify-content: center;

  .register-main-bg {
    background: #bebebe;
    width: 58%;
    height: 750px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form {
      width: 65%;
      @media screen and (max-width: 576px) {
        width: 75%;
      }
    }
    .custom-file {
      margin-top: 20px;
    }

    .btn-register {
      margin-top: 20px;
    }
  }
}
