
    <section class="banner-area relative about-banner">
     <div class="overlay overlay-bg"></div>
     <div class="container">
         <div class="row d-flax align-items-center justify-content-center">
             <div class="about-content col-lg-12">
                 <h1>About Us</h1>
                 <p class="text-white link-nav">
                     <a href="index.html">Home</a>
                     <span class="lnr lnr-arrow-right"></span>
                     <a href="about.html">About Us</a>
                 </p>
             </div>
         </div>
     </div>
    </section>
    <section class="blocks_top bottom_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single_top">
                        <div class="title_top"><h4>My First Text</h4></div>
                            <div class="desc_top">
                                <p>Usage of the Internet is becoming more common due to rapid advancement
                                        of technology.</p>
                                        <a href="#">
                                            Join Now
                                        </a>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="single_top">
                            <div class="title_top"><h4>My First Text</h4></div>
                                <div class="desc_top">
                                    <p>Usage of the Internet is becoming more common due to rapid advancement
                                            of technology.</p>
                                            <a href="#">
                                                Join Now
                                            </a>
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                            <div class="single_top">
                                <div class="title_top"><h4>My First Text</h4></div>
                                    <div class="desc_top">
                                        <p>Usage of the Internet is becoming more common due to rapid advancement
                                                of technology.</p>
                                                <a href="#">
                                                    Join Now
                                                </a>
                                    </div>
                                
                            </div>
                        </div>
        </div>
        </div>
    </section>
    <section class="info_midle midle_90">
        <div class="container-fluid">
            <div class="row row align-items-center">
                <div class="col-lg-6 no-padding info-midle-left">
                    <img class="img-fluid" src="../img/about-img.jpg" alt="img/" >
                </div>
                <div class="col-lg-6 info-midle-right">
                    <h1>
                            Who we are
							to Serave the nation
                    </h1>
                    <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                    </p>
                    <br>
                    <p>
                        
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
							
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="curs_mission midle_100">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menue-content pb-70 col-lg-8">
                <div class="title_e">
                    <h1 class="tex10">Goals to Achieve for the leadership</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 accord_left">
                    <dl class="accord">
                        <dt><a href="#">Sussecc</a></dt>
                        <dd>
                            
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                
                        </dd>
                        <dt><a href="#">Info</a></dt>
                        <dd>
                            
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                
                        </dd>
                        <dt><a href="#">Danger</a></dt>
                        <dd>
                            
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                
                        </dd>
                        <dt><a href="#">Warning</a></dt>
                        <dd>
                            
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 img-right justify-content-center align-items-center d-flex relative ">
                    <div class="overlay overlay-bg"></div>
                    <img src="img/video-bg.jpg" alt="">
                </div>
            </div>
</div>
    </section>
    <section class="search-cours relative">
        
        <div class="container">
            <div class="row justify-content-between alignn-items-center">
                <div class="col-lg-6 col-md-6 search-cours-left">
                    <h1>Lorem ipsum, dolor sit amet consectetur </h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum perspiciatis nisi voluptate enim delectus voluptatem non nemo.
                        Cum perspiciatis nisi voluptate enim delectus voluptatem non nemo.
                    </p>
                    <div class="row more-content">
                        <div class="col single-block">
                           <a href="#"><h4>Lorem ipsum dolor</h4></a>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p> 
                        </div>
                        <div class="col single-block">
                            <a href="#"><h4>Lorem ipsum dolor</h4></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 search-cours-right sectiont-gar">
                    <form class="form-wrap" action="#">
                        <h4 class=" pb-20 text-center mb-30">Search for Available Course</h4>
                        <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
                        <input type="phone" class="form-control" name="phone" placeholder="Your Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
                        <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
                        <input type="password" class="form-control" name="password" placeholder="Your password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Password'">
                        <button class=" btn btn-orangWhite">Submit</button>
                    </form>
                    
                </div>
            </div>
    </section>
    <section class="review-area section-grap relative">
        <div class="container">
            <div class="row">
                <div class="title">
                    <a href=""><h4 class="white"> Lorem, ipsum dolor.</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium iusto illo, veniam qui cum aliquam laboriosam voluptate sed ex tempora reprehenderit? Tempora, dignissimos? Voluptates error asperiores consequatur, odit placeat architecto.</p>
                </div>
                <div class="title">
                    <a href=""><h4 class="white"> Lorem, ipsum dolor.</h4></a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium iusto illo, veniam qui cum aliquam laboriosam voluptate sed ex tempora reprehenderit? Tempora, dignissimos? Voluptates error asperiores consequatur, odit placeat architecto.</p>
                </div>
            </div>
            
        </div>
    </section>
    <section class="under-f-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 und-left">
                    <h1>Lorem ipsum dolor sit amet consectetur</h1>
                </div>
                <div class="col-lg-4 und-right">
                    <button class="btn-whiteBlack">View our blog</button>
                </div>
        </div>
    </section>
 