<main>
  <div class="container- fluid contact-top-bg">
    <div class="container contact-top-body">
      <section>
        <div class="row contact-top">
          <h1 class="contact-top-text">Contact us</h1>
        </div>
      </section>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container contact-body-main">
      <div class="row contact-body">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 contact-list">
          <div class="contact-details">
            <h5>Soborna str, 16</h5>
            <p>Rivne, Ukraine</p>
          </div>
          <div class="contact-details">
            <h5>+38 (067) 557-87-04</h5>
            <p>Mon to Fri 9am to 6 pm</p>
          </div>
          <div class="contact-details">
            <h5>office_rv@itstep.org</h5>
            <p>Send us your query anytime!</p>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 send-message">
          <form action="" class="form-group ">
            <div class="row form-group-contact">
              <div
                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 "
              >
                <input
                  class="form-control form-control-lg contact-input"
                  name="name"
                  type="text"
                  placeholder="Enter your name"
                  required=""
                />
                <input
                  class="form-control form-control-lg contact-input"
                  name="email"
                  type="email"
                  placeholder="Enter email address"
                  required=""
                />
                <input
                  class="form-control form-control-lg contact-input"
                  name="subject"
                  type="text"
                  placeholder="Enter subject"
                  required=""
                />
              </div>
              <div
                class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-message"
              >
                <textarea
                  class="contact-textarea-field form-control"
                  name="message"
                  placeholder="Enter Message"
                  required=""
                ></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row contact-btn">
          <div
            class="contact-send-btn col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
          >
          <button type="submit" class="btn btn-outline-dark">Send message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
