<main>

        <div class="container-fluid">
                <div class="container contact-body">
                        <section class="row">
                             <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 flex-column flex-row">
                                        <div class="contact-details">
                                                <h5>Soborna str, 16</h5>
                                                <p>Rivne, Ukraine</p>
                                        </div>
                                        <div class="contact-details">
                                                <h5>+38 (067) 557-87-04</h5>
                                                <p>Mon to Fri 9am to 6 pm</p>
                                        </div>
                                        <div class="contact-details">
                                                <h5>office_rv@itstep.org</h5>
                                                <p>Send us your query anytime!</p>
                                        <div>
                             </div>   
                             <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                     <form action="" class="form-group">
                                             <div class="row ">
                                                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 form-group">
                                                                <input class="form-control form-control-lg contact-input" name="name" type="text" placeholder="Enter your name" required="">
                                                                <input class="form-control form-control-lg contact-input" name="email" type="text" placeholder="Enter email address" >
                                                                <input class="form-control form-control-lg contact-input" name="subject" type="text" placeholder="Enter subject">
                                                     </div>
                                                     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                                <textarea class="form-control" name="message" placeholder="Enter Message" ></textarea>
                                                     </div>
                                                     
                                             </div>
                                     </form>
                             </div>
                             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                <a href="#" class="contact-btn btn-orangWhite">Send message</a>
                                             </div>
                                        </div>
                             </div>                               
                        </section>
                </div>
            </div>
    
</main>