<main>
    <div class="container-fluid">
        <div class="container">
                <div class="row faq-blocks">

                        <div class="col faq-top">1. What happens once I place an order for an essay or paper?</div>
                
                        <div class="col faq-text">You will set up a personal account by your email and a selected password.
                            You may use this account to monitor the progress of your order. You may also upload additional
                            instructions, samples of your own writing for your writer to review, and use the links to
                            communicate with your writer or with our customer support team. Once you see all of the options
                            on your account, you will see how easy it is to use.</div>
                    </div>
        </div>
    </div>
   
  
</main>
