<main>

    <div class="container- fluid forgot-top-bg">
        <div class="container forgot-body">
          <section>
            <div class="row forgot-top">
              <h1 class="forgot-text">Forgot Password</h1>
            </div>
          </section>
        </div>
      </div>

    <div class="container-fluid">
      <div class="container forgot-body">
          <section>
              <div class="row forgot-main">
                <div class="forgot-main-bg">
                  <form class="forgot-form">
                    <div class="form-group">
                      <h3>Forgot password?</h4>
                      <p>Please enter your email address under which you are logged in and will receive password recovery information</p>
                      <label for="email">Email:</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email-forgot"
                        placeholder="email"
                      />
                    </div>
                    <button type="submit" class="btn btn-outline-dark btn-register">
                        Apply
                      </button>
                  </form>
              </div>
            </section>
      </div>
    </div>
</main>
