<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TeamLab</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="..//css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="..//css/bootstrap.min.css" />
    <script
      src="https://kit.fontawesome.com/c5b8c88d7d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="..//css/main.css" />
  </head>

  <body>
    <header id="header">
      <div class="container-fluid header-top-bg">
        <div class="container header-top-container">
          <section>
            <div class="row header-top">
              <div class="header-top-left col">
                <ul class="social-header">
                  <li>
                    <a
                      href="https://www.facebook.com/comp.academy.step"
                      target="_blank"
                      title="Facebook"
                    >
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://mystat.itstep.org/en/auth/login/index"
                      target="_blank"
                      title="MyStat"
                    >
                      <i class="fas fa-user-graduate"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://github.com/RivneITStep"
                      target="_blank"
                      title="GitHub"
                    >
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="header-top-right col">
                <ul>
                <li>
                    <i class="fas fa-phone-alt" title="Call us"></i>
                <a href="tel:+38-067-557-8704" class="phone-header">
                    +38 (067) 557-87-04</a>
                </li>
               <li class="email-header-li">
                  <i class="fas fa-paper-plane" title="Email us"></i>
                           <a href="mailto:office_rv@itstep.org">
                              office_rv@itstep.org</a>
              </li>
            </ul>
            </div>
          </section>
        </div>
      </div>


      <div class="container-fluid header-bottom-bg ">
        <div class="container ">
      
            <div class="row header-bottom">
              <div class="header-bottom-left col-3">
                <a href="">
                Teamlab
              </a>
              </div>
              <div class="header-bottom-right col-9">
                <div class="menu-wrap">
                  <input type="checkbox" class="toggler">
                  <div class="hamburger"><div></div></div>
                  <div class="menu">
                    <div>
                      <div>
                        <ul>
                          <li class="item"> <a class="link-nav" href="index.html"> Home </a> </li>
                          <li class="item"> <a class="link-nav" href="about.html"> About </a> </li>
                          <li class="item"> <a class="link-nav" href="projects.html"> Projects </a> </li>
                          <li class="item"> <a class="link-nav" href="posts.html"> Posts </a> </li>
                          <li class="item"> <a class="link-nav" href="news.html"> News </a> </li>
                          <li class="item"> <a class="link-nav" href="faq.html"> FAQ </a> </li>
                          <li class="item"> <a class="link-nav" href="contact.html"> Contact </a> </li>
                          <li class="item"> <a class="link-nav" href="profile.html"> Profile </a> </li>
                          <li class="item"> <a class="link-nav" href="login.html"> Login </a> </li>
                          <li class="item"> <a class="link-nav" href="register.html"> Register </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <nav class="main-nav">
                  <ul class="main-nav-list">
                    <li class="item"> <a class="link-nav" href="index.html"> Home </a> </li>
                    <li class="item"> <a class="link-nav" href="about.html"> About </a> </li>
                    <li class="item"> <a class="link-nav" href="projects.html"> Projects </a> </li>
                    <li class="item"> <a class="link-nav" href="posts.html"> Posts </a> </li>
                    <li class="item"> <a class="link-nav" href="news.html"> News </a> </li>
                    <li class="item"> <a class="link-nav" href="faq.html"> FAQ </a> </li>
                    <li class="item"> <a class="link-nav" href="contact.html"> Contact </a> </li>
                    <li class="item"> <a class="link-nav" href="profile.html"> Profile </a> </li>
                    <li class="item"> <a class="link-nav" href="login.html"> Login </a> </li>
                    <li class="item"> <a class="link-nav" href="register.html"> Register </a> </li>
                  </ul>
                </nav>
      
        </div>
      </div>
    </header>
  </body>
</html>
