<main>
  <div class="container- fluid login-top-bg">
    <div class="container login-body">
      <section>
        <div class="row login-top">
          <h1 class="login-text">Login</h1>
        </div>
      </section>
    </div>
  </div>

  <div class="container- fluid">
    <div class="container login-body-main">
      <section>
        <div class="row login-main">
          <div class="row login-main-bg">
            <form class="login-form">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" />
              </div>
              <div class="forgot">
                <a href="#">Forgot password?</a>
              </div>
              <div class="register-link">
                <a href="register.html" target="_blank"
                  >Dont have an account? Register here</a
                >
              </div>

              <button type="submit" class="btn btn-outline-dark">Login</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
