<main>
    <div class="container- fluid news-top-bg">
        <div class="container news-body">
          <section>
            <div class="row news-top">
              <h1 class="news-text">News</h1>
            </div>
          </section>
        </div>
      </div>
   
      <div class="container-fluid">
          <div class="container news-body">
  
              <section class="news-block">
                  <div class="row row align-items-center">
  
                      <div class=" col-xl-3 col-lg-3 col-md-12">
                          <img src="../img/p2.jpg" alt="news-img" class="news-img">                    </div>
  
                      <div class="news-details col-xl-9 col-lg-9 col-md-12">
                          <h5>Title</h5>
                          <p>25th February, 2018</p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                              Natus temporibus consequuntur optio  voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ip-
                              sam nisi in. Lorem ipsum dolor sit  amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo ac-
                              cusamus similique voluptas totam.   At, harum quaerat. Dolor?
                          </p>
                          <h6>by Bill Gates</h46>
  
                          <div class="news-more-btn col-xl-12 col-lg-12 col-md-12">
                                  <button type="button" class="btn btn-outline-primary more-news">More</button>
                          </div>
  
                      </div>
                  </div>
              </section>
  
  
              <section class="news-block">
                  <div class="row row align-items-center">
  
                      <div class=" col-xl-3 col-lg-3 col-md-12">
                          <img src="../img/p2.jpg" alt="news-img" class="news-img">                    </div>
  
                      <div class="news-details col-xl-9 col-lg-9 col-md-12">
                          <h5>Title</h5>
                          <p>25th February, 2018</p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                              Natus temporibus consequuntur optio  voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ip-
                              sam nisi in. Lorem ipsum dolor sit  amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo ac-
                              cusamus similique voluptas totam.   At, harum quaerat. Dolor?
                          </p>
                          <h6>by Bill Gates</h46>
  
                          <div class="news-more-btn col-xl-12 col-lg-12 col-md-12">
                                  <button type="button" class="btn btn-outline-primary more-news">More</button>
                          </div>
  
                      </div>
                  </div>
              </section>
  
  
              <section class="news-block">
                  <div class="row row align-items-center">
  
                      <div class=" col-xl-3 col-lg-3 col-md-12">
                          <img src="../img/p2.jpg" alt="news-img" class="news-img">                    </div>
  
                      <div class="news-details col-xl-9 col-lg-9 col-md-12">
                          <h5>Title</h5>
                          <p>25th February, 2018</p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                              Natus temporibus consequuntur optio  voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ip-
                              sam nisi in. Lorem ipsum dolor sit  amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo ac-
                              cusamus similique voluptas totam.   At, harum quaerat. Dolor?
                          </p>
                          <h6>by Bill Gates</h46>
  
                          <div class="news-more-btn col-xl-12 col-lg-12 col-md-12">
                                  <button type="button" class="btn btn-outline-primary more-news">More</button>
                          </div>
  
                      </div>
                  </div>
              </section>
  
          </div>
      </div>   
  </main> 

