<main>
    <div class="container- fluid posts-top-bg">
        <div class="container">                <section>
                <div class="row posts-top">
                  <h1 class="posts-text">POSTS</h1>
                </div>
            </section>
        </div>
    </div>


    <div class="container-fluid">
        <div class="container posts-body">


            <section class="posts-block">
                <div class="row row align-items-center">

                    <div class=" col-xl-3 col-lg-3 col-md-12">
                        <img src="../img/p2.jpg" alt="posts-img" class="posts-img">                    </div>

                    <div class="posts-details col-xl-9 col-lg-9 col-md-12">
                        <h5>Title</h5>
                        <p>25th February, 2018</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Natus temporibus consequuntur optio voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ipsam nisi in. 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo accusamus similique voluptas totam.
                            At, harum quaerat. Dolor?
                        </p>
                        <h6>by Bill Gates</h46>

                        <div class="posts-more-btn col-xl-12 col-lg-12 col-md-12">
                                <button type="button" class="btn btn-outline-primary more-posts">More</button>
                        </div>

                    </div>
                </div>
            </section>


            <section class="posts-block">
                <div class="row row align-items-center">

                    <div class=" col-xl-3 col-lg-3 col-md-12">
                        <img src="../img/p2.jpg" alt="posts-img" class="posts-img">                    </div>
                    <div class="posts-details col-xl-9 col-lg-9 col-md-12">
                        <h5>Title</h5>
                        <p>25th February, 2018</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Natus temporibus consequuntur optio voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ipsam nisi in. 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo accusamus similique voluptas totam.
                            At, harum quaerat. Dolor?
                        </p>
                        <h6>by Bill Gates</h46>
                        <div class="posts-more-btn col-xl-12 col-lg-12 col-md-12">
                            <button type="button" class="btn btn-outline-primary more-posts">More</button>
                        </div>
    
                    </div>
                </div>
            </section>


            <section class="posts-block">
                <div class="row row align-items-center">
        
                    <div class=" col-xl-3 col-lg-3 col-md-12">
                        <img src="../img/p2.jpg" alt="posts-img" class="posts-img">                    </div>

                    <div class="posts-details col-xl-9 col-lg-9 col-md-12">
                        <h5>Title</h5>
                        <p>25th February, 2018</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Natus temporibus consequuntur optio voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ipsam nisi in. 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus odio placeat maxime quod dolor labore rerum eos molestias quae corporis. Tenetur illo accusamus similique voluptas totam.
                            At, harum quaerat. Dolor?
                        </p>
                        <h6>by Bill Gates</h46>
        
                        <div class="posts-more-btn col-xl-12 col-lg-12 col-md-12">
                            <button type="button" class="btn btn-outline-primary more-posts">More</button>
                        </div>
        
                    </div>
                </div>
            </section>

        </div>
    </div>   
</main> 