<main>
            <section>
                <div class="container-fluid posts">
                    <div class="container">
                        <div class="row ">
                            <div class="col posts-text">Posts</div>
                        </div>
                    </div>
                </div>
            </section>

    <section class="posts-list-area section-gap posts-page-lists">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-lg-6 pb-30">
                    <div class="single-carusel row align-items-center">
                        <div class="col-12 col-md-6 thumb">
                                <img class="img-fluid" src="../img/p4.jpg" alt="img/" >
                        </div>
                        <div class="detials col-12 col-md-6">
                            <p>25th February, 2018</p>
                            <h4>Title</h4>
                            <p>
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                               Natus temporibus consequuntur optio voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ipsam nisi in. 
                            </p>
                        </div>                   
                    </div>                    
                </div>
                
                <div class="col-lg-6 pb-30">
                        <div class="single-carusel row align-items-center">
                          <div class="col-12 col-md-6 thumb">
                                      <img class="img-fluid" src="../img/p4.jpg" alt="img/" >
                             </div>
                              <div class="detials col-12 col-md-6">

                                  <p>25th February, 2018</p>
                                 <h4>Title</h4>
                                 <p>
                                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex laborum culpa, possimus earum reprehenderit recusandae magnam in eligendi, labore ea aut cumque, dignissimos neque porro ipsa qui odit iusto.
                               </p>
                             </div>
                        
                        </div>
                </div>	
                
                <div class="col-lg-6 pb-30">

                        <div class="single-carusel row align-items-center">
                            <div class="col-12 col-md-6 thumb">
    
                                    <img class="img-fluid" src="../img/p4.jpg" alt="img/" >
                            </div>
                            
                            <div class="detials col-12 col-md-6">
    
                                <p>25th February, 2018</p>
                                <h4>Title</h4>
                                <p>
                                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                   Natus temporibus consequuntur optio voluptatibus officia placeat fuga, blanditiis porro similique animi repellendus, aperiam est distinctio labore, facere delectus ipsam nisi in. 
                                </p>
                            </div>
                    
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-6 pb-30">
    
                            <div class="single-carusel row align-items-center">
                              <div class="col-12 col-md-6 thumb">
            
                                          <img class="img-fluid" src="../img/p4.jpg" alt="img/" >
                                 </div>
                                    
                                  <div class="detials col-12 col-md-6">
            
                                      <p>25th February, 2018</p>
                                     <h4>Title</h4>
                                     <p>
                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ex laborum culpa, possimus earum reprehenderit recusandae magnam in eligendi, labore ea aut cumque, dignissimos neque porro ipsa qui odit iusto.
                                   </p>
                         </div>
                     </div>
                 </div>	
            </div>     
        </div>	
    </section>
</main>