<main>
  <div class="container- fluid posts-top-bg">
    <div class="container posts-body">
      <section>
        <div class="row posts-top">
          <h1 class="posts-text">Posts</h1>
        </div>
      </section>
    </div>
  </div>

    <div class="container-fluid">
      <div class="container user-posts">
        <div class="row posts-block-row">
          <div class="col posts-block ">
           
            <div class=" col-3 img-posts">
              <div></div>
            </div>

            <div class=" col-9 detials-posts">
              <p>25th February, 2018</p>
              <h4>Title</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                temporibus consequuntur optio voluptatibus officia placeat fuga,
                blanditiis porro similique animi repellendus, aperiam est
                distinctio labore, facere delectus ipsam nisi in.
              </p>
              <button type="submit" class="btn btn-outline-dark">Read more</button>
            </div>
          </div>

          <div class="col posts-block">

            <div class=" col-3 img-posts"></div>

            <div class=" col-9 detials-posts">
              <p>25th February, 2018</p>
              <h4>Title</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                temporibus consequuntur optio voluptatibus officia placeat fuga,
                blanditiis porro similique animi repellendus, aperiam est
                distinctio labore, facere delectus ipsam nisi in.
              </p>
              <button type="submit" class="btn btn-outline-dark">Read more</button>
            </div>
          </div>

        </div>

        <div class="row posts-block-row">
            <div class="col posts-block ">
             
              <div class=" col-3 img-posts">
                <div></div>
              </div>
  
              <div class=" col-9 detials-posts">
                <p>25th February, 2018</p>
                <h4>Title</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                  temporibus consequuntur optio voluptatibus officia placeat fuga,
                  blanditiis porro similique animi repellendus, aperiam est
                  distinctio labore, facere delectus ipsam nisi in.
                </p>
                <button type="submit" class="btn btn-outline-dark">Read more</button>
              </div>
            </div>
  
            <div class="col posts-block">
  
              <div class=" col-3 img-posts"></div>
  
              <div class=" col-9 detials-posts">
                <p>25th February, 2018</p>
                <h4>Title</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
                  temporibus consequuntur optio voluptatibus officia placeat fuga,
                  blanditiis porro similique animi repellendus, aperiam est
                  distinctio labore, facere delectus ipsam nisi in.
                </p>
                <button type="submit" class="btn btn-outline-dark">Read more</button>
              </div>
            </div>
  
          </div>

      </div>
    </div>

</main>
