<main>
  <div class="container- fluid">
    <div class="container login-body">
      <section>
        <div class="row profile-top">
          <div class="profile-top-bg">
            <h4 class="profile-text">Profile</h4>
          </div>
        </div>
      </section>
      <section>
        <div class="row profile-main">
          <div class="row profile-main-bg">
            <form class="login-form">
              <div class="form-group">
                <label for="uname">First name:</label>
                <input type="text" class="form-control" id="name" placeholder="Name" />
              </div>
              <div class="form-group">
                <label for="sname">Last name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="surname"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone number:</label>
                <input
                  type="number"
                  class="form-control"
                  id="phone"
                  placeholder="Phone number"
                />
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="E-mail"
                />
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <label for="gitHub">GitHub profile:</label>
                <input
                  type="text"
                  class="form-control"
                  id="gitHub"
                  placeholder="Link for your GitHub profile"
                />
              </div>
              <div class="form-group">
                <label for="skills">Skills:</label>
                <input
                  type="text"
                  class="form-control"
                  id="skills"
                  placeholder="Your skills"
                />
                <small id="passwordHelpBlock" class="form-text text-muted">
                  List of your skills, such as HTML5, CSS3, vanilla JavaScript,
                  React, TypeScript, Angular etc.
                </small>
              </div>

              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
