<main>
  <div class="container- fluid">
    <div class="container login-body">
      <section>
        <div class="row profile-top">
          <div class="profile-top-bg">
            <h4 class="profile-text">Profile</h4>
          </div>
        </div>
      </section>

      <div class="row profile-main">
        <div class="row profile-main-bg">
          <section class="profile-form">
            <form class="profile-form-item">
              <div class="row">
                <div class="col">
                  <label for="name">First name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First name"
                  />
                </div>
                <div class="col">
                  <label for="name">Last name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last name"
                  />
                </div>
              </div>
            </form>

            <form class="profile-form-item">
              <div class="row">
                <div class="col">
                  <label for="name">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
                <div class="col">
                  <label for="name">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
              </div>
            </form>

            <form class="profile-form-item">
              <div class="row">
                <div class="col">
                  <label for="name">Phone number</label>
                  <input
                    type="phone"
                    class="form-control"
                    placeholder="Phone number"
                  />
                </div>
                <div class="col">
                  <label for="name">City</label>
                  <input type="text" class="form-control" placeholder="City" />
                </div>
              </div>
            </form>

            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile"
                >Choose your profile picture</label
              >
              <small id="profilePictureHelpBlock" class="form-text text-muted">
                To add a profile picture or change your current profile picture.
              </small>
            </div>

            <form class="profile-form-item education-form">
                <div>Education</div>
              <div class="row">
                <div class="col">
                  <label for="name">School</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="School name"
                  />
                </div>
                <div class="col">
                  <label for="name">Degree</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Degree"
                  />
                </div>
              </div>

              <div class="row sub-ptofile-form">
                    <div class="col-8">
                      <label for="field">Field of Study</label>
                      <input type="text" class="form-control" placeholder="Field of Study" />
                    </div>
                    <div class="col-2">
                      <label for="from">From</label>
                      <input type="text" class="form-control" placeholder="From" />
                    </div>
                    <div class="col-2">
                      <label for="to">To</label>
                      <input type="text" class="form-control" placeholder="To" />
                    </div>
                  </div>

              <div class="row sub-ptofile-form">
                    <div class="col-5">
                      <label for="current">Current</label>
                      <input type="text" class="form-control" placeholder="Current" />
                    </div>
                    <div class="col-5">
                      <label for="additional">Additional information</label>
                      <input type="text" class="form-control" placeholder="Additional information" />
                    </div>
                    <div class="col-2">
                      <label for="add">Add more</label>
                      <input type="button" value="Add more" class="btn btn-outline-dark" />
                    </div>
                  </div>
            </form>

            <form class="profile-form-item experience-form">
                <div>Experience</div>
              <div class="row">
                <div class="col">
                  <label for="position">Position</label>
                  <input type="text" class="form-control" placeholder="Position" />
                </div>
                <div class="col">
                  <label for="name">Company</label>
                  <input type="text" class="form-control" placeholder="Company" />
                </div>
              </div>

              <div class="row sub-ptofile-form">
                    <div class="col-8">
                      <label for="field">City</label>
                      <input type="text" class="form-control" placeholder="Field of Study" />
                    </div>
                    <div class="col-2">
                      <label for="from">From</label>
                      <input type="text" class="form-control" placeholder="From" />
                    </div>
                    <div class="col-2">
                      <label for="to">To</label>
                      <input type="text" class="form-control" placeholder="To" />
                    </div>
                  </div>

              <div class="row sub-ptofile-form">
                    <div class="col-5">
                      <label for="current">Current</label>
                      <input type="text" class="form-control" placeholder="Current" />
                    </div>
                    <div class="col-5">
                      <label for="additional">Additional information</label>
                      <input type="text" class="form-control" placeholder="Additional information" />
                    </div>
                    <div class="col-2">
                      <label for="add">Add more</label>
                      <input type="button" value="Add more" class="btn btn-outline-dark" />
                    </div>
                  </div>
            </form>

            <form class="profile-form-item social-form">
                <div>Social</div>
              <div class="row">
                <div class="col">
                  <label for="position">GitHub</label>
                  <input type="text" class="form-control" placeholder="GitHub" />
                </div>
                <div class="col">
                  <label for="name">LinkedIn</label>
                  <input type="text" class="form-control" placeholder="LinkedIn" />
                </div>
              </div>

              <div class="row sub-ptofile-form">
                    <div class="col">
                      <label for="field">Facebook</label>
                      <input type="text" class="form-control" placeholder="Facebook" />
                    </div>
                    <div class="col">
                      <label for="field">Instagram</label>
                      <input type="text" class="form-control" placeholder="Instagram" />
                    </div>
                  </div>

              <div class="row sub-ptofile-form">
                    <div class="col">
                            <label for="field">Twitter</label>
                            <input type="text" class="form-control" placeholder="Twitter" />
                          </div>
                          <div class="col">
                            <label for="field">Youtube</label>
                            <input type="text" class="form-control" placeholder="Youtube" />
                          </div>
                        </div>
                  </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

