<main>
    <div class="container-fluid">
        <div class="container project-body">
            <section>
                <div class="project-title">
                    <h2>Open projects</h2>
                </div>
                
                <div class="row">
                    <div class="col-xl-12">
                        <div class="head-title">
                            <p>TeamLab</p>
                        </div>
                    </div>
                </div>
                <div class="row project-field">
                    <div class=" col-xl-3">
                        <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                    </div>
                    <div class="project-description col-xl-9">
                        <h5>Description:</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                        <br>
                        <h5>Skills:</h5>
                        <p>HTML, CSS, nodeJS</p>
                    </div>
                </div>
                <div class="row project-apply-btn">
                    <a href="#" class="btn-orangWhite apply-project">Apply</a>
                </div>
            </section>
            <section>
                <div class="project-title">
                    <h2>In progress projects</h2>
                </div>
            </section>
            <section>
                <div class="project-title">
                    <h2>Finished projects</h2>
                </div>
            </section>
        </div>
    </div>
</main>