<main>
    <div class="container- fluid projects-top-bg">
        <div class="container projects-body">
          <section>
            <div class="row projects-top">
              <h1 class="projects-text">Projects</h1>
            </div>
          </section>
        </div>
      </div>

      <div class="container-fluid">
        <div class="container project-body">
            <section>
                <div class="project-title">
                    <h2>Open projects</h2>
                </div>
                <section class="project-block">
                    <div class="row">
                        <div class="col-xl-12 project-head-title">
                                <p>TeamLab</p>
                        </div>
                        <div class="project-field">
                            <div class=" col-xl-3 col-lg-3 col-md-12">
                                <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                            </div>
                            <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                <h5>Description:</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                <br>
                                <h5>Skills:</h5>
                                <p>HTML, CSS, nodeJS</p>
                                <h5>Date:</h5>
                                <p>01.10.2019</p>
                            </div>
                        </div>
                        <div class="project-apply-btn col-xl-12 col-lg-12 col-md-12">
                            <button type="button" class="btn btn-outline-primary apply-project">Apply</button>
                        </div>
                    </div>                    
                </section>
            </section>
                <section class="project-block">
                        <div class="row">
                            <div class="col-xl-12 project-head-title">
                                    <p>TeamLab</p>
                            </div>
                            <div class="project-field">
                                <div class=" col-xl-3 col-lg-3 col-md-12">
                                    <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                                </div>
                                <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                    <h5>Description:</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                    <br>
                                    <h5>Skills:</h5>
                                    <p>HTML, CSS, nodeJS</p>
                                    <h5>Date:</h5>
                                    <p>01.10.2019</p>
                                </div>
                            </div>
                            <div class="project-apply-btn col-xl-12 col-lg-12 col-md-12">
                                <button type="button" class="btn btn-outline-primary apply-project">Apply</button>
                            </div>
                        </div>
                    </section>
            <section>
                <div class="project-title">
                    <h2>In progress projects</h2>
                </div>
                <section class="project-block">
                        <div class="row">
                            <div class="col-xl-12 project-head-title">
                                    <p>TeamLab</p>
                            </div>
                            <div class="project-field project-field-in-progress">
                                <div class=" col-xl-3 col-lg-3 col-md-12">
                                    <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                                </div>
                                <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                    <h5>Description:</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                    <br>
                                    <h5>Skills:</h5>
                                    <p>HTML, CSS, nodeJS</p>
                                    <h5>Members:</h5>
                                    <p>Lily, Oleg, Anatoliy, Vicheslav, Olexander, Valeriy, Roman</p>
                                    <h5>Date:</h5>
                                    <p>01.10.2019</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="project-block">
                            <div class="row">
                                <div class="col-xl-12 project-head-title">
                                        <p>TeamLab</p>
                                </div>
                                <div class="project-field project-field-in-progress">
                                    <div class=" col-xl-3 col-lg-3 col-md-12">
                                        <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                                    </div>
                                    <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                        <h5>Description:</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                        <br>
                                        <h5>Skills:</h5>
                                        <p>HTML, CSS, nodeJS</p>
                                        <h5>Members:</h5>
                                        <p>Lily, Oleg, Anatoliy, Vicheslav, Olexander, Valeriy, Roman</p>
                                        <h5>Date:</h5>
                                        <p>01.10.2019</p>
                                    </div>
                                </div>
                            </div>
                        </section>
            </section>
            <section>
                <div class="project-title">
                    <h2>Finished projects</h2>
                </div>
                <section class="project-block">
                        <div class="row">
                            <div class="col-xl-12 project-head-title">
                                    <p>TeamLab</p>
                            </div>
                            <div class="project-field project-field-in-progress">
                                <div class=" col-xl-3 col-lg-3 col-md-12">
                                    <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                                </div>
                                <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                    <h5>Description:</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                    <br>
                                    <h5>Skills:</h5>
                                    <p>HTML, CSS, nodeJS</p>
                                    <h5>Members:</h5>
                                    <p>Lily, Oleg, Anatoliy, Vicheslav, Olexander, Valeriy, Roman</p>
                                    <h5>Date:</h5>
                                    <p>01.10.2019</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="project-block">
                            <div class="row">
                                <div class="col-xl-12 project-head-title">
                                        <p>TeamLab</p>
                                </div>
                                <div class="project-field project-field-in-progress">
                                    <div class=" col-xl-3 col-lg-3 col-md-12">
                                        <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                                    </div>
                                    <div class="project-description col-xl-9 col-lg-9 col-md-12">
                                        <h5>Description:</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus cumque id quo eligendi. Quod quasi deleniti beatae dolorum! Similique corrupti asperiores dolores aliquid doloribus provident officia rem! Architecto, cumque.</p>
                                        <br>
                                        <h5>Skills:</h5>
                                        <p>HTML, CSS, nodeJS</p>
                                        <h5>Members:</h5>
                                        <p>Lily, Oleg, Anatoliy, Vicheslav, Olexander, Valeriy, Roman</p>
                                        <h5>URL</h5>
                                        <a href="https://github.com/RivneITStep/teamlab" target="_blank">GitHub</a>
                                        <h5>Date:</h5>
                                        <p>01.10.2019</p>
                                    </div>
                                </div>
                            </div>
                        </section>
     
        </div>
    </div>

</main>