<main>
  <div class="container- fluid">
    <div class="container register-body">
      <section>
        <div class="row register-top">
          <div class="register-top-bg">
            <h4 class="register-text">Register</h4>
          </div>
        </div>
      </section>
      <section>
        <div class="row register-main">
          <div class="row register-main-bg">
            <form class="login-form">
              <div class="form-group">
                <label for="uname">First name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Name"
                />
              </div>
              <div class="form-group">
                <label for="sname">Last name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Surname"
                />
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="City"
                />
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="E-mail"
                />
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="pwd"
                  placeholder="Password"
                />
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Your password must be 8-20 characters long, contain letters
                  and numbers, and must not contain spaces, special characters,
                  or emoji.
                </small>
              </div>
              <div class="form-group">
                <label for="pwd">Confirm password:</label>
                <input
                  type="password"
                  class="form-control"
                  id="pwd"
                  placeholder="Confirm password"
                />
              </div>


              <button type="submit" class="btn btn-outline-dark btn-register">
                Register
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
