<main>

  <div class="container- fluid sPost-top-bg">
    <div class="container sPost-body">
      <section>
        <div class="row sPost-top">
          <h1 class="sPost-text">Single Post</h1>
        </div>
      </section>
    </div>
  </div>


  <section class="post-content-area single-post-area">
    <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 posts-list">
          
          <div class="single-post row">

            <div class="col-lg-12 col-md-12">
							<h3 class="mt-20 mb-20">Title</h3>
							<p class="excert">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente aliquid nostrum quis, placeat laudantium, consequuntur voluptatem commodi quisquam quaerat asperiores facilis? Autem exercitationem laudantium beatae recusandae, ipsam officia dignissimos in?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem autem mollitia quo consequuntur consequatur molestiae deserunt dicta suscipit debitis unde sed eligendi eveniet, dignissimos ratione excepturi fuga magni adipisci ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid assumenda, accusantium porro doloribus, praesentium error perspiciatis, pariatur ad rem vero minima? Blanditiis similique laboriosam neque itaque asperiores aspernatur ipsa qui!
              </p>
							<p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestiae inventore? Distinctio explicabo non debitis laborum, dignissimos ullam natus ratione autem ab nemo. Excepturi necessitatibus tempora porro aspernatur. Dolores, consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, aliquid nisi harum cupiditate porro rem sit pariatur minus reprehenderit aut beatae, amet atque ipsa optio tenetur quas ratione. Asperiores, fugiat?
              </p>
              <div class="feature-img">
                  <img class="img-fluid" src="../img/helloquence-61189-unsplash-1.jpg" alt="img/">
                </div>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, molestiae inventore? Distinctio explicabo non debitis laborum, dignissimos ullam natus ratione autem ab nemo. Excepturi necessitatibus tempora porro aspernatur. Dolores, consequatur. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, aliquid nisi harum cupiditate porro rem sit pariatur minus reprehenderit aut beatae, amet atque ipsa optio tenetur quas ratione. Asperiores, fugiat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis placeat error repudiandae quae voluptatem? Possimus dignissimos nam sint dolorum quaerat! Repudiandae a consequatur animi soluta doloribus? Nihil quia pariatur optio?
                </p>
						</div>
          </div>


          <div class="comments-area">
            <h3> Comments</h3>
            <div class="comment-list">

              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="../img/User_Avatar-04-512.png" alt="img/">
                 </div>
                 <div class="desc">
                    <h5><a href="#">Chuck Norris</a></h5>
                    <p class="date">February 27, 2019 at 3:12 pm </p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio porro praesentium tenetur dolore magnam incidunt nihil molestiae magni esse dicta voluptatem.                      </p>                        
                  </div>
                </div>
                <div class="reply-btn">
                  <button type="submit" class="btn btn-outline-dark">
                      reply 
                  </button>
                </div>
              </div>

              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="../img/User_Avatar-04-512.png" alt="img/">
                 </div>
                 <div class="desc">
                    <h5><a href="#">Chuck Norris</a></h5>
                    <p class="date">February 27, 2019 at 3:12 pm </p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio porro praesentium tenetur dolore magnam incidunt nihil molestiae magni, esse dicta voluptatem.                    </p>                        
                  </div>
                </div>
                <div class="reply-btn">
                  <button type="submit" class="btn btn-outline-dark">
                      reply 
                  </button>
                </div>
              </div>

              <div class="single-comment justify-content-between d-flex">                    <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="../img/User_Avatar-04-512.png" alt="img/">
                </div>
                  <div class="desc">
                    <h5><a href="#">Chuck Norris</a></h5>
                    <p class="date">February 27, 2019 at 3:12 pm </p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio porro praesentium tenetur dolore magnam incidunt nihil molestiae magni, esse dicta voluptatem.                      </p>                        
                  </div>
                </div>
                <div class="reply-btn">
                  <button type="submit" class="btn btn-outline-dark">
                      reply 
                  </button>
                </div>
              </div>

              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="../img/User_Avatar-04-512.png" alt="img/">
                 </div>
                  <div class="desc">
                    <h5><a href="#">Chuck Norris</a></h5>
                    <p class="date">February 27, 2019 at 3:12 pm </p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio porro praesentium tenetur dolore magnam incidunt nihil molestiae magni, esse dicta voluptatem.                      </p>                        
                  </div>
                </div>
                <div class="reply-btn">
                  <button type="submit" class="btn btn-outline-dark">
                      reply 
                  </button>
                </div>
              </div>

              <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                  <div class="thumb">
                    <img src="../img/User_Avatar-04-512.png" alt="img/">
                </div>
                <div class="desc">
                  <h5><a href="#">Chuck Norris</a></h5>
                    <p class="date">February 27, 2019 at 3:12 pm </p>
                    <p class="comment">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio porro praesentium tenetur dolore magnam incidunt nihil molestiae magni, esse dicta voluptatem.
                      </p>                        
                  </div>
                </div>
                <div class="reply-btn">
                  <button type="submit" class="btn btn-outline-dark">
                      reply 
                  </button>
                </div>
              </div>
              </div>	                                            				
            </div>


            <div class="container-fluid sPost">
                <div class="container sPost-body-main">
                  <div class="row sPost-body-comment">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 send-message">
                        <div class="comment-form">
                            <h4>Leave a Comment</h4>
                          </div>
                      <form action="" class="form-group ">
                        <div class="row form-group-sPost">
                          <div
                            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 comment-sPost"
                          >
                            <input
                              class="form-control form-control-lg sPost-input"
                              name="name"
                              type="text"
                              placeholder="Enter your name"
                              required=""
                            />
                            <input
                              class="form-control form-control-lg sPost-input"
                              name="email"
                              type="email"
                              placeholder="Enter email address"
                              required=""
                            />
                            <input
                              class="form-control form-control-lg sPost-input"
                              name="subject"
                              type="text"
                              placeholder="Enter subject"
                              required=""
                            />
                          </div>
                          <div
                            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-comment"
                          >
                            <textarea
                              class="sPost-textarea-field form-control"
                              name="message"
                              placeholder="Enter Message"
                              required=""
                            ></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row sPost-btn">
                      <div class="sPost-send-btn col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"  >
                  <button type="submit" class="btn btn-outline-dark">POST COMMENT</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
</main>