<main>

    <div class="container- fluid sProject-top-bg">
        <div class="container sProject-body">
          <section>
            <div class="row sProject-top">
              <h1 class="sProject-text">Single Project</h1>
            </div>
          </section>
        </div>
      </div>

      <div class="container- fluid">
        <div class="container">
          <section>
            
            <div class="row">
                <div class="sProject-Title col-xl-12">
                  <h2>TeamLab</h2>
                </div>
              <div class="sProject-Logo col-xl-4 ">
                  <div class="sProject-title-logo col-xl-12">
                      <img src="../img/logo.jpg" alt="project-logo" class="project-logo">
                  </div>
                  <div class="sProject-date col-xl-12">
                    <p>01.10.19 - 01.12.19</p>
                  </div>
                  <div class="sProject-skills col-xl-12">
                      <p>HTML, CSS, nodeJS</p>
                    </div>
                    <div class="sProject-links col-xl-12">
                        <a href="https://github.com/RivneITStep/teamlab" target="_blank">GitHub</a>
                      </div>
              </div>
              <div class="sProject-Info col-xl-8">
                  <div class="sProject-Description col-xl-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto est tenetur eum deleniti dolorum facere molestias ex voluptate omnis a, odio, doloribus voluptatibus cumque, minus ad repellat consequatur accusantium. Quisquam?
                      Eius accusamus dolorum voluptatum facere voluptatibus molestiae rerum neque minima numquam facilis, ipsa adipisci voluptas, quaerat sunt autem necessitatibus maiores labore sequi! Nesciunt labore illo, ut repellat quam doloremque iure.
                      Consequatur eveniet distinctio blanditiis aut asperiores numquam! Accusamus, ullam. Natus exercitationem voluptates vitae eligendi ad? Suscipit rem nostrum temporibus repellat, quae corporis. Maiores facere esse dolor id quisquam aliquid mollitia.
                      Expedita ut, pariatur, facere esse sunt dolor reprehenderit ab quasi odit ratione doloremque ea assumenda ducimus tempore quas quod praesentium alias delectus magnam enim corrupti. Alias totam at asperiores esse?
                      Soluta, voluptatibus velit sunt repellat inventore id eligendi quo, quae quia est ipsa officia eveniet, asperiores beatae ab tempora. Explicabo, in odio itaque deleniti ipsa hic inventore nemo accusantium minima.
                      Error cupiditate tempora, magni, tenetur veritatis architecto vero temporibus officiis dicta quae fugiat voluptatibus at corporis adipisci. Ullam qui doloribus, cumque iure asperiores neque dolore quo voluptatibus voluptatem saepe facere!
                      Impedit minima commodi ullam nemo? Ab architecto sit magnam reiciendis eligendi. Minus non nostrum id alias deserunt officiis totam ad asperiores.</p>
                  </div> 
              </div>
            </div>
          </section>
        </div>
      </div>

</main>
