/*BG Colors**/
$color-primary-1: #777777;
$color-primary-2: #04091e;
$color-primery-3: #ffffff;
$color-primery-4: #f9f9ff;
$color-primery-5: #f7631b;


/*Text Colors*/
$font-color-1: #ffffff;
$font-color-2: #777777;
$font-color-3: #222222;
$font-color-4-hover: #f7631b;


/*Buttons Colors*/
$color-btn-1: #f7631b;
$color-btn-2-hover: #ffffff;
$color-btn-3-hover: #222222;
