/*BG Colors*/
$bg-color-primary-1: #04091e;
$bg-color-primary-2: #29648a;
$bg-color-primary-3: #ffffff;
$bg-color-primary-4: #f9f9ff;
$bg-color-primary-5: #ff652f;
$bg-color-primary-6: #5592bf;
$bg-color-primary-7: #5dbcd2;

/*Text Colors*/
$font-color-primary-1: #ffffff;
$font-color-primary-2: #777777;
$font-color-primary-3: #222222;
$font-color-primary-4: #04091e;
$font-color-primary-hover: #ff652f;
$font-color-nav-hover: #04091e;

/*Buttons Colors*/
$bg-color-btn-1: #ff652f;
$color-btn-1: #ffffff;
$bg-color-btn-1-hover: #ffffff;
$color-btn-1-hover: #ff652f;
$bg-color-btn-2: #ffffff;
$color-btn-2: #222222;
$bg-color-btn-2-hover: #222222;
$color-btn-2-hover: #ffffff;
$bg-color-round-btn-: #ffffff;
$color-btn-round: #222222;
$bg-color-btn-round-hover: #f7631b;
$color-btn-round-hover: #ffffff;

/*Border color main-nav*/
$border-color-main-nav: #f7631b;
