/*BG Colors**/
$color-primary-1: #777777;
$color-primary-2: #777777;


/*Text Colors*/
$font-color-1: #ffffff;
$font-color-2: #777777;
$font-color-3: #222222;



/*Buttons Colors*/

$color-btn-1: #f7631b;
$color-btn-2-hover: #ffffff;
// $color-btn-3: #f7631b;
// $color-btn-4-hover: #ffffff;
