@import "../../../../style/partials/colors.scss";
@import "../../../../style/partials/fonts.scss";
@import "../../../../style/mixins/font.scss";
@import "../../../../style/css-font-awesome/all.css";

.header-top-left {
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 768px) {
      display: none;
    }
  
    .social-header {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin-bottom: 0;
    }
    .social-header li {
      margin-right: 10px;
    }
    .social-header li a .i-brand {
      font-family: $font-awesome-brands;
      font-size: 22px;
      color: $font-color-primary-1;
    }
    .social-header li a .i-user {
      font-family: $font-awesome;
      font-size: 22px;
      color: $font-color-primary-1;
    }

  }